<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project3 Group1 Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>

  <body>
    <!-- Create the overall Grid-->
    <div class="container">
      <!--First row-->
      <div class="row">
        <div class="col-md-12">
          <h1>{{text}}</h1>
          <p>Here is a link to <b>restaurant image"</b></p>
          <a href="https://unsplash.com/photos/E6HjQaB7UEA"> alt="restaurant image"</a>
        </div>
      </div>
    </div>
    <div>
      <h2>The table below shows by rank the Top 20 leading restaurant</h2>
      <table border="1">
        <table class="table">
          <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %} 
          </tr>
          {% for row in data %}
          <tr class="table__row">
            {% for cell in row %}
            <td class="table__cell">{{cell}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          </tr>
      </table>
      </div>

    
</body>
</html>